body {
  font-family: 'Schoolbell', cursive;
  padding: 0 100px 0 100px;
  background: url(images/masterBackground.jpg) repeat;
  font: white;
}
#player {
  font-size: 20px;
}
h1 {
  font-size: 100px;
  margin-bottom: 10px;
}
h2 {
  margin: 0;
  margin-top: 10px;
}
ol {
  margin: 0;
  padding: 0 0 0 20px;
}
p{
  font-size: 50px;
  margin: 0;
}

#innerContainer {
  display: block;
  margin: 0 auto;
  width: 770px;
  background-color: none;
  padding: 50px 40px 50px 20px;
  border: dashed black 3px;
  margin-bottom: 200px;

}

#winnerContainer {
display: none;
margin-top: 20px;
margin-left: 20px;
background-color: none;
text-align: center;
border: dashed black 3px;
}


#gameBoard {
display: inline-block;
text-align: center;
width: 250px;
}

#gamePannel {
display: inline-block;
vertical-align: top;
border: dashed black 3px;
padding: 10px 10px 0 20px;
width: 300px;
height: 190px;
margin-left: 9px;
}
#scoreCounter {
display: inline-block;
vertical-align: top;
border: dashed black 3px;
padding: 10px 10px 0 20px;
height: 190px;
margin-left: 9px;
width: 120px;
}

.row {
margin-bottom: 5px;
padding: 0;
max-height: 68px;
}

.gameBoardSquare {
display: inline-block;
height: 60px;
width: 60px;
margin: 0 3px 0 3px;
background: gray;
border: solid black 2px;
text-align: center;
vertical-align: middle;
font-size: 40px;
}